In [8]:
import numpy as np

In [9]:
import pandas as pd

In [10]:
from pandas import DataFrame, Series

In [5]:
obj = Series([1,2,3])

In [6]:
obj

0    1
1    2
2    3
dtype: int64

In [7]:
obj.values

array([1, 2, 3], dtype=int64)

In [9]:
obj.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
mapCountries = Series([100, 200, 300,], index=["PL", "DE", "EN"])

In [11]:
mapCountries

PL    100
DE    200
EN    300
dtype: int64

In [12]:
mapCountries["PL"]

100

In [14]:
mapCountries[mapCountries>100]

DE    200
EN    300
dtype: int64

In [15]:
"DE" in mapCountries

True

In [18]:
dictionary = mapCountries.to_dict()

In [19]:
dictionary

{'DE': 200, 'EN': 300, 'PL': 100}

In [21]:
mapCountries.name = "Countries"

In [23]:
mapCountries

PL    100
DE    200
EN    300
Name: Countries, dtype: int64

In [24]:
import webbrowser

In [25]:
site = 'https://en.wikipedia.org/wiki/NFL_winâ€“loss_records'

In [26]:
webbrowser.open(site)

True

In [2]:
myframe = pd.read_clipboard()

NameError: name 'pd' is not defined

In [31]:
myframe

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,502,374,6,0.573,1960.000,882,NFC,East,NaN
1,2,Green,Bay,Packers,737,562,37.000,0.565,1921,"1,336",NFC,North
2,3,Chicago,Bears,749,579,42,0.562,1920.000,"1,370",NFC,North,NaN
3,4,Miami,Dolphins,445,351,4,0.559,1966.000,800,AFC,East,NaN
4,5,New,England,Patriots[b],489,386,9.000,0.558,1960,884,AFC,East
5,6,Minnesota,Vikings,470,390,10,0.546,1961.000,870,NFC,North,NaN
6,7,Baltimore,Ravens,190,161,1,0.541,1996.000,352,AFC,North,NaN

In [32]:
myframe.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First', 'NFL', 'Season',
       'Total', 'Games', 'Division'],
      dtype='object')

In [33]:
myframe.Won

0     Cowboys
1         Bay
2       Bears
3    Dolphins
4     England
5     Vikings
6      Ravens
Name: Won, dtype: object

In [34]:
myframe.head(2)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,502,374,6,0.573,1960.000,882,NFC,East,NaN
1,2,Green,Bay,Packers,737,562,37.000,0.565,1921,"1,336",NFC,North

In [36]:
myframe.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
4,5,New,England,Patriots[b],489,386,9.000,0.558,1960,884,AFC,East
5,6,Minnesota,Vikings,470,390,10,0.546,1961.000,870,NFC,North,NaN
6,7,Baltimore,Ravens,190,161,1,0.541,1996.000,352,AFC,North,NaN

In [38]:
del myframe['Team']

In [39]:
myframe

,Rank,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Cowboys,502,374,6,0.573,1960.000,882,NFC,East,NaN
1,2,Bay,Packers,737,562,37.000,0.565,1921,"1,336",NFC,North
2,3,Bears,749,579,42,0.562,1920.000,"1,370",NFC,North,NaN
3,4,Dolphins,445,351,4,0.559,1966.000,800,AFC,East,NaN
4,5,England,Patriots[b],489,386,9.000,0.558,1960,884,AFC,East
5,6,Vikings,470,390,10,0.546,1961.000,870,NFC,North,NaN
6,7,Ravens,190,161,1,0.541,1996.000,352,AFC,North,NaN

In [41]:
data ={'City':['Wroc','Wawa','Gdansk'], 'Population':['100','200','300']}

In [43]:
cities = DataFrame(data)

In [44]:
cities

     City Population
0    Wroc        100
1    Wawa        200
2  Gdansk        300

In [45]:
from numpy.random import randn

In [48]:
myseries = Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])

In [49]:
myseries

A    1
B    2
C    3
D    4
dtype: int64

In [50]:
series = Series(["Ala","ma","kota"], index = [10,20,30])

In [55]:
series

10     Ala
20      ma
30    kota
dtype: object

In [54]:
ranger = range(10)
series.reindex(ranger, method="ffill")

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
dtype: object

In [58]:
myseries.drop("B")

A    1
C    3
D    4
dtype: int64

In [59]:
dframe = DataFrame(np.arange(9).reshape((3,3)), index=['SF', 'DL', 'DE'], columns=['pop', 'size', 'year'])

In [60]:
dframe

    pop  size  year
SF    0     1     2
DL    3     4     5
DE    6     7     8

In [62]:
dframe2 = dframe.drop('size', axis=1)

In [63]:
dframe3 = dframe2.drop('DL', axis=0)

In [64]:
dframe2

    pop  year
SF    0     2
DL    3     5
DE    6     8

In [65]:
dframe3

    pop  year
SF    0     2
DE    6     8

In [66]:
dframe4 = 2* dframe3

In [67]:
dframe4

    pop  year
SF    0     4
DE   12    16

In [68]:
dframe4['pop']

SF     0
DE    12
Name: pop, dtype: int32

In [74]:
dframe[1:3]

    pop  size  year
DL    3     4     5
DE    6     7     8

In [80]:
myseries[myseries>2]

C    3
D    4
dtype: int64

In [81]:
dframe > 4

      pop   size   year
SF  False  False  False
DL  False  False   True
DE   True   True   True

In [12]:
newframe = pd.read_clipboard()

In [13]:
newframe

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,502,374,6,0.573,1960.000,882,NFC,East,NaN
1,2,Green,Bay,Packers,737,562,37.000,0.565,1921,"1,336",NFC,North
2,3,Chicago,Bears,749,579,42,0.562,1920.000,"1,370",NFC,North,NaN
3,4,Miami,Dolphins,445,351,4,0.559,1966.000,800,AFC,East,NaN
4,5,New,England,Patriots[b],489,386,9.000,0.558,1960,884,AFC,East
5,6,Minnesota,Vikings,470,390,10,0.546,1961.000,870,NFC,North,NaN
6,7,Baltimore,Ravens,190,161,1,0.541,1996.000,352,AFC,North,NaN
7,8,New,York,Giants,687,585,33.000,0.539,1925,"1,305",NFC,East
8,9,Denver,Broncos,470,404,10,0.537,1960.000,884,AFC,West,NaN
9,10,San,Francisco,49ers,528,460,14.000,0.534,1950,"1,002",NFC,West
10,11,Pittsburgh,Steelers,614,538,20,0.532,1933.000,"1,172",AFC,North,NaN

In [14]:
newframe.sort_index()

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,502,374,6,0.573,1960.000,882,NFC,East,NaN
1,2,Green,Bay,Packers,737,562,37.000,0.565,1921,"1,336",NFC,North
2,3,Chicago,Bears,749,579,42,0.562,1920.000,"1,370",NFC,North,NaN
3,4,Miami,Dolphins,445,351,4,0.559,1966.000,800,AFC,East,NaN
4,5,New,England,Patriots[b],489,386,9.000,0.558,1960,884,AFC,East
5,6,Minnesota,Vikings,470,390,10,0.546,1961.000,870,NFC,North,NaN
6,7,Baltimore,Ravens,190,161,1,0.541,1996.000,352,AFC,North,NaN
7,8,New,York,Giants,687,585,33.000,0.539,1925,"1,305",NFC,East
8,9,Denver,Broncos,470,404,10,0.537,1960.000,884,AFC,West,NaN
9,10,San,Francisco,49ers,528,460,14.000,0.534,1950,"1,002",NFC,West
10,11,Pittsburgh,Steelers,614,538,20,0.532,1933.000,"1,172",AFC,North,NaN

In [18]:
newframe.sort_values("Lost")

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
6,7,Baltimore,Ravens,190,161,1,0.541,1996.000,352,AFC,North,NaN
3,4,Miami,Dolphins,445,351,4,0.559,1966.000,800,AFC,East,NaN
5,6,Minnesota,Vikings,470,390,10,0.546,1961.000,870,NFC,North,NaN
8,9,Denver,Broncos,470,404,10,0.537,1960.000,884,AFC,West,NaN
9,10,San,Francisco,49ers,528,460,14.000,0.534,1950,"1,002",NFC,West
0,1,Dallas,Cowboys,502,374,6,0.573,1960.000,882,NFC,East,NaN
10,11,Pittsburgh,Steelers,614,538,20,0.532,1933.000,"1,172",AFC,North,NaN
2,3,Chicago,Bears,749,579,42,0.562,1920.000,"1,370",NFC,North,NaN
7,8,New,York,Giants,687,585,33.000,0.539,1925,"1,305",NFC,East
1,2,Green,Bay,Packers,737,562,37.000,0.565,1921,"1,336",NFC,North
4,5,New,England,Patriots[b],489,386,9.000,0.558,1960,884,AFC,East

In [24]:
newframe.sum(axis=1)

0     2341.573
1     1338.565
2     2544.562
3     2325.559
4      889.558
5     2367.546
6     2165.541
7     1313.539
8     2383.537
9     1012.534
10    2502.532
dtype: float64

In [25]:
newframe.min()

Rank              1
Team      Baltimore
Won             Bay
Lost            190
Tied            161
Pct.              1
First         0.532
NFL           0.534
Season        1,172
Total         1,002
Games           AFC
dtype: object

In [26]:
newframe.min()

Rank              1
Team      Baltimore
Won             Bay
Lost            190
Tied            161
Pct.              1
First         0.532
NFL           0.534
Season        1,172
Total         1,002
Games           AFC
dtype: object

In [29]:
newframe.max()

Rank               11
Team              San
Won              York
Lost      Patriots[b]
Tied              737
Pct.              585
First              37
NFL              1996
Season            884
Total             NFC
Games            West
dtype: object

In [30]:
newframe.describe()

            Rank        Tied        Pct.      First          NFL
count  11.000000   11.000000   11.000000  11.000000    11.000000
mean    6.000000  476.181818  189.636364   8.804545  1245.290545
std     3.316625  163.646459  250.100089  13.727340   987.043527
min     1.000000  161.000000    1.000000   0.532000     0.534000
25%     3.500000  382.000000    8.000000   0.543500     0.561500
50%     6.000000  489.000000   20.000000   0.562000  1933.000000
75%     8.500000  558.500000  423.000000  11.500000  1960.500000
max    11.000000  737.000000  585.000000  37.000000  1996.000000