In [2]:
import sqlite3

In [3]:
import pandas as pd
import os

In [9]:
pwd

'C:\\Users\\czarnym\\Documents\\Development\\studia\\jupiter\\dataScience'

In [4]:
dbConnection = sqlite3.connect("bookdb");
dbCursor = dbConnection.cursor()

In [5]:
txtExtention = ".txt"

In [6]:
tables = ["Customers", "Orderlines", "Products", "Campaigns", "Orders"]

In [10]:
for table in tables:
    path = os.path.expanduser(table.lower() + txtExtention)
    file = pd.read_csv(path, delimiter="\t", encoding = 'latin1')
    file.to_sql(table, dbConnection, if_exists="replace");

In [11]:
pd.read_sql_query('''SELECT o.orderdate, c.gender, c.firstname from Orders o join Customers c on o.customerid = c.customerid 
                    join Campaigns cmp on o.campaignid = cmp.campaignid ''', dbConnection)

                  orderdate gender    firstname
0       2009-10-13 00:00:00      M        LOUIS
1       2009-10-13 00:00:00      M      ANTHONY
2       2011-06-02 00:00:00   None      MERRILL
3       2009-10-14 00:00:00      F        MARIA
4       2010-11-19 00:00:00   None           T.
5       2009-10-15 00:00:00      M        CRAIG
6       2009-10-15 00:00:00      F        SUSAN
7       2009-10-15 00:00:00      M          JOE
8       2009-10-15 00:00:00      M       ROBERT
9       2009-10-15 00:00:00      M         BILL
10      2010-11-22 00:00:00      F     WINIFRED
11      2010-11-22 00:00:00      F          ANA
12      2010-11-22 00:00:00      F         JUNE
13      2010-11-22 00:00:00      M       ROBERT
14      2010-11-22 00:00:00   None           R.
15      2010-11-22 00:00:00   None       LESLIE
16      2011-02-15 00:00:00      M      RICHARD
17      2010-11-22 00:00:00      F      CYNTHIA
18      2010-11-22 00:00:00      F       JOANNE
19      2010-11-22 00:00:00      M      WILLIAM
20      2010-11-22 00:00:00      F           S.
21      2010-11-22 00:00:00      F       ESTHER
22      2010-11-22 00:00:00      M  CHRISTOPHER
23      2010-11-23 00:00:00      M       ARTHUR
24      2010-11-23 00:00:00      F        CAROL
25      2010-11-23 00:00:00      M         JOHN
26      2010-11-23 00:00:00      M         JOHN
27      2010-11-23 00:00:00      F      SHARRON
28      2010-11-23 00:00:00      M      PATRICK
29      2010-11-23 00:00:00      M        JASON
...                     ...    ...          ...
189529  2016-09-19 00:00:00      M      STEPHEN
189530  2016-09-19 00:00:00      M      MICHAEL
189531  2016-09-19 00:00:00      F      HEATHER
189532  2016-09-18 00:00:00   None       FLORIN
189533  2016-09-18 00:00:00      M      WILLIAM
189534  2016-09-18 00:00:00      M       HOWARD
189535  2016-09-18 00:00:00   None          PAT
189536  2016-09-18 00:00:00      F         LYNN
189537  2016-09-18 00:00:00      M         PAUL
189538  2016-09-18 00:00:00      M        JAMES
189539  2016-09-19 00:00:00      F     CAROLINE
189540  2016-09-14 00:00:00      F       JUDITH
189541  2016-09-16 00:00:00      M      MICHAEL
189542  2016-09-16 00:00:00   None           N.
189543  2016-09-16 00:00:00      F      CYNTHIA
189544  2016-09-17 00:00:00      F       LISALA
189545  2016-09-19 00:00:00      M       JEROME
189546  2016-09-19 00:00:00      F      REBECCA
189547  2016-09-19 00:00:00      M       MARTIN
189548  2016-09-19 00:00:00      M          JAY
189549  2016-09-19 00:00:00      F       MARTHA
189550  2016-09-19 00:00:00      M         TODD
189551  2016-09-19 00:00:00      F        JULIA
189552  2016-09-19 00:00:00      M          LEO
189553  2016-09-19 00:00:00      F       ALISON
189554  2016-09-18 00:00:00   None         None
189555  2016-09-18 00:00:00      F      MARYLOU
189556  2016-09-18 00:00:00      F       JUDITH
189557  2016-09-18 00:00:00      F         JANE
189558  2016-09-20 00:00:00      F        JULIA

[189559 rows x 3 columns]

In [24]:
pd.read_sql_query('SELECT * from Products', dbConnection)

,index,PRODUCTID,PRODUCTNAME,PRODUCTGROUPCODE,PRODUCTGROUPNAME,INSTOCKFLAG,FULLPRICE
0,0,10001,None,CA,CALENDAR,N,15
1,1,10002,None,CA,CALENDAR,N,10
2,2,10003,None,CA,CALENDAR,N,10
3,3,10004,None,BK,BOOK,Y,90
4,4,10005,None,BK,BOOK,Y,16
5,5,10006,None,BK,BOOK,N,10
6,6,10007,None,BK,BOOK,N,7
7,7,10008,None,BK,BOOK,N,11
8,8,10009,None,BK,BOOK,N,10
9,9,10010,None,BK,BOOK,N,19
10,10,10011,None,GA,GAME,N,11
11,11,10012,None,AR,ARTWORK,Y,195
12,12,10013,None,AR,ARTWORK,Y,195
13,13,10014,None,AR,ARTWORK,Y,175
14,14,10015,None,AR,ARTWORK,Y,195
15,15,10016,None,AR,ARTWORK,Y,195
16,16,10017,None,AR,ARTWORK,Y,540
17,17,10018,None,AR,ARTWORK,Y,195
18,18,10019,None,AR,ARTWORK,Y,340
19,19,10020,None,AR,ARTWORK,Y,375
20,20,10021,None,AR,ARTWORK,Y,540
21,21,10022,None,AR,ARTWORK,Y,195
22,22,10023,None,AR,ARTWORK,Y,340
23,23,10024,None,AR,ARTWORK,Y,375
24,24,10025,None,AR,ARTWORK,Y,540
25,25,10026,None,AR,ARTWORK,Y,195
26,26,10027,None,AR,ARTWORK,Y,340
27,27,10028,None,AR,ARTWORK,Y,375
28,28,10029,None,AR,ARTWORK,Y,540
29,29,10030,None,AR,ARTWORK,Y,700
...,...,...,...,...,...,...,...
4010,4010,14011,None,AR,ARTWORK,Y,250
4011,4011,14012,None,AR,ARTWORK,Y,355
4012,4012,14013,None,AR,ARTWORK,Y,540
4013,4013,14014,None,AR,ARTWORK,Y,540
4014,4014,14015,None,AR,ARTWORK,Y,395
4015,4015,14016,None,AR,ARTWORK,Y,250
4016,4016,14017,None,AR,ARTWORK,Y,250
4017,4017,14018,None,AR,ARTWORK,Y,395
4018,4018,14019,None,AR,ARTWORK,Y,486
4019,4019,14020,None,AR,ARTWORK,Y,306
4020,4020,14021,None,BK,BOOK,Y,29
4021,4021,14022,None,AR,ARTWORK,Y,195
4022,4022,14023,None,AR,ARTWORK,Y,576
4023,4023,14024,None,AR,ARTWORK,Y,495
4024,4024,14025,None,AR,ARTWORK,Y,306
4025,4025,14026,None,AP,APPAREL,Y,15
4026,4026,14027,None,AR,ARTWORK,Y,225
4027,4027,14028,None,AP,APPAREL,Y,22
4028,4028,14029,None,GA,GAME,Y,14
4029,4029,14030,None,CA,CALENDAR,Y,14
4030,4030,14031,None,GA,GAME,Y,14
4031,4031,14032,None,BK,BOOK,Y,13
4032,4032,14033,None,AR,ARTWORK,Y,1645
4033,4033,14034,None,AR,ARTWORK,Y,1350
4034,4034,14035,None,AR,ARTWORK,Y,1645
4035,4035,14036,None,AR,ARTWORK,Y,1500
4036,4036,14037,None,AR,ARTWORK,Y,1200
4037,4037,14038,None,AR,ARTWORK,Y,495
4038,4038,14039,None,BK,BOOK,Y,14
4039,4039,14040,None,AR,ARTWORK,Y,950

In [19]:
dataFrame = pd.read_sql_query('''SELECT l.shipdate, l.billdate, l.unitprice, l.numunits, l.totalprice, 
o.orderdate, o.city from Orderlines l 
join Products p on l.productid = p.productid 
join Orders o on o.orderid = (SELECT orderid from Orders o 
join Customers c on o.customerid = c.customerid 
join Campaigns cmp on o.campaignid = cmp.campaignid)''', dbConnection)

In [13]:
dataFrame

,index,orderlineid,orderid,productid,shipdate,billdate,unitprice,numunits,totalprice,index,...,customerid,campaignid,orderdate,city,state,zipcode,paymenttype,totalprice,numorderlines,numunits
0,0,1010561,1006414,10834,2011-03-07 00:00:00,2011-03-08 00:00:00,18.00,1,18.00,833,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
1,1,1010562,1006541,11052,2011-01-19 00:00:00,2011-01-20 00:00:00,10.00,2,20.00,1051,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
2,2,1010563,1006542,11070,2011-01-19 00:00:00,2011-01-20 00:00:00,19.12,1,19.12,1069,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
3,3,1010564,1010154,11196,2009-11-19 00:00:00,2009-11-20 00:00:00,14.95,1,14.95,1195,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
4,4,1010565,1009110,11048,2009-11-11 00:00:00,2009-11-12 00:00:00,10.00,2,20.00,1047,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
5,5,1010566,1009110,11196,2009-11-19 00:00:00,2009-11-20 00:00:00,14.95,2,29.90,1195,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
6,6,1010567,1008491,10816,2009-11-03 00:00:00,2009-11-04 00:00:00,175.00,1,175.00,815,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
7,7,1010568,1008492,11048,2009-11-10 00:00:00,2009-11-11 00:00:00,10.00,1,10.00,1047,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
8,8,1010569,1010189,11196,2009-11-19 00:00:00,2009-11-20 00:00:00,14.95,1,14.95,1195,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
9,9,1010570,1008493,11196,2009-12-17 00:00:00,2009-12-18 00:00:00,0.00,1,0.00,1195,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
10,10,1010571,1010190,11048,2009-11-10 00:00:00,2009-11-11 00:00:00,10.00,1,10.00,1047,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
11,11,1010572,1010190,11196,2009-11-19 00:00:00,2009-11-20 00:00:00,14.95,1,14.95,1195,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
12,12,1010573,1010191,11048,2009-11-10 00:00:00,2009-11-11 00:00:00,10.00,1,10.00,1047,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
13,13,1010574,1009111,11048,2009-11-09 00:00:00,2009-11-10 00:00:00,10.00,3,30.00,1047,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
14,14,1010575,1008576,11168,2010-12-09 00:00:00,2010-12-10 00:00:00,22.50,1,22.50,1167,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
15,15,1010576,1008577,10842,2010-12-09 00:00:00,2010-12-10 00:00:00,19.95,1,19.95,841,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
16,16,1010577,1008577,11197,2010-12-18 00:00:00,2010-12-19 00:00:00,14.95,1,14.95,1196,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
17,17,1010578,1010227,10006,2010-12-14 00:00:00,2010-12-15 00:00:00,7.50,1,7.50,5,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
18,18,1010579,1010228,11083,2010-12-09 00:00:00,2010-12-10 00:00:00,34.95,1,34.95,1082,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
19,19,1010580,1009196,11009,2011-01-29 00:00:00,2011-01-30 00:00:00,10.00,1,10.00,1008,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
20,20,1010581,1008578,11009,2011-01-27 00:00:00,2011-01-28 00:00:00,10.00,1,10.00,1008,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
21,21,1010582,1009124,11168,2010-12-09 00:00:00,2010-12-10 00:00:00,22.50,1,22.50,1167,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
22,22,1010583,1008579,10942,2010-12-09 00:00:00,2010-12-10 00:00:00,12.50,1,12.50,941,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
23,23,1010584,1008580,11197,2010-12-13 00:00:00,2010-12-14 00:00:00,14.95,1,14.95,1196,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
24,24,1010585,1009197,10993,2010-12-15 00:00:00,2010-12-16 00:00:00,29.95,3,89.85,992,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
25,25,1010586,1008588,10837,2011-02-28 00:00:00,2011-03-01 00:00:00,18.00,1,18.00,836,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
26,26,1010587,1008588,10822,2011-02-28 00:00:00,2011-03-01 00:00:00,25.00,1,25.00,821,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
27,27,1010588,1008588,10930,2011-02-28 00:00:00,2011-03-01 00:00:00,9.00,1,9.00,929,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
28,28,1010589,1008588,10834,2011-03-08 00:00:00,2011-03-09 00:00:00,18.00,1,18.00,833,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
29,29,1010590,1008396,11043,2010-06-15 00:00:00,2010-06-16 00:00:00,15.95,1,15.95,1042,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285987,285987,2017130,1643123,13999,2016-09-20 00:00:00,2016-09-21 00:00:00,2.25,1,2.25,3998,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
285988,285988,2017131,1643145,12826,2016-09-20 00:00:00,2016-09-21 00:00:00,107.95,1,107.95,2825,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
285989,285989,2017132,1643146,12826,2016-09-20 00:00:00,2016-09-21 00:00:00,119.95,1,119.95,2825,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
285990,285990,2017133,1643124,12826,2016-09-20 00:00:00,2016-09-21 00:00:00,119.95,1,119.95,2825,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
285991,285991,2017134,1643125,12826,2016-09-20 00:00:00,2016-09-21 00:00:00,107.95,1,107.95,2825,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
285992,285992,2017135,1643125,12826,2016-09-20 00:00:00,2016-09-21 00:00:00,107.95,1,107.95,2825,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
285993,285993,2017136,1643126,12171,2016-09-20 00:00:00,2016-09-21 00:00:00,44.95,1,44.95,2170,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
285994,285994,2017137,1643126,12171,2016-09-20 00:00:00,2016-09-21 00:00:00,44.95,1,44.95,2170,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
285995,285995,2017138,1643127,14028,2016-09-20 00:00:00,2016-09-21 00:00:00,20.65,1,20.65,4027,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
285996,285996,2017139,1643128,11089,2016-09-20 00:00:00,2016-09-21 00:00:00,17.05,1,17.05,1088,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
285997,285997,2017140,1643128,10956,2016-09-20 00:00:00,2016-09-21 00:00:00,0.00,1,0.00,955,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
285998,285998,2017141,1643128,11089,2016-09-20 00:00:00,2016-09-21 00:00:00,17.05,1,17.05,1088,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
285999,285999,2017142,1643129,13101,2016-09-20 00:00:00,2016-09-21 00:00:00,12.55,1,12.55,3100,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286000,286000,2017143,1643130,12170,2016-09-20 00:00:00,2016-09-21 00:00:00,44.95,1,44.95,2169,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286001,286001,2017144,1643131,11012,2016-09-20 00:00:00,2016-09-21 00:00:00,16.95,1,16.95,1011,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286002,286002,2017145,1643132,12017,2016-09-20 00:00:00,2016-09-21 00:00:00,9.95,1,9.95,2016,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286003,286003,2017146,1643151,12830,2016-09-20 00:00:00,2016-09-21 00:00:00,89.96,1,89.96,2829,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286004,286004,2017147,1643147,12823,2016-09-20 00:00:00,2016-09-21 00:00:00,23.96,1,23.96,2822,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286005,286005,2017148,1643121,12171,2016-09-20 00:00:00,2016-09-21 00:00:00,44.95,1,44.95,2170,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286006,286006,2017149,1643152,13808,2016-09-20 00:00:00,2016-09-21 00:00:00,9.94,1,9.94,3807,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286007,286007,2017150,1643148,14028,2016-09-20 00:00:00,2016-09-21 00:00:00,20.65,1,20.65,4027,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286008,286008,2017151,1643153,12124,2016-09-20 00:00:00,2016-09-21 00:00:00,6.95,1,6.95,2123,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286009,286009,2017152,1643153,11127,2016-09-20 00:00:00,2016-09-21 00:00:00,6.95,1,6.95,1126,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286010,286010,2017153,1643153,13951,2016-09-20 00:00:00,2016-09-21 00:00:00,NaN,0,0.00,3950,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286011,286011,2017154,1643149,11012,2016-09-20 00:00:00,2016-09-21 00:00:00,16.95,1,16.95,1011,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286012,286012,2017155,1643154,11012,2016-09-20 00:00:00,2016-09-21 00:00:00,16.95,1,16.95,1011,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286013,286013,2017156,1643155,13630,2016-09-20 00:00:00,2016-09-21 00:00:00,16.14,1,16.14,3629,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286014,286014,2017157,1643150,14028,2016-09-20 00:00:00,2016-09-21 00:00:00,22.95,1,22.95,4027,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286015,286015,2017158,1643156,14028,2016-09-20 00:00:00,2016-09-21 00:00:00,20.65,1,20.65,4027,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3
286016,286016,2017159,1643157,12172,2016-09-20 00:00:00,2016-09-21 00:00:00,49.45,1,49.45,2171,...,45978,2141,2009-10-13 00:00:00,NEWTON,MA,02459,VI,190.0,3,3